body {
    margin: 0;
    padding: 0;
    background: #2d2d2d;
    font-family: Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.name {
    margin: 7px 0 40px;
}

h1, h2 {
    font-family: Calibri, sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    max-width: 250px;
    margin: 0 auto 15px;
    letter-spacing: 3px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-bottom: 2px solid #f3f3f3;
}

input {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background: #2d2d2d;
    box-shadow: 0px 1px 35px 0px rgba(161, 161, 161, 0.2);
}

.info-left-container {
    width: 37%;
}

.info-left {
    max-width: 80%;
    margin: 0 auto;
    padding: 60px 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(243, 243, 243, 0.69);
}

.avatar {
    background-image: url("img/photo_cv.png");
    background-position: center 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto 40px;
    min-width: 200px;
    min-height: 200px;
    /*width: 50%;*/
    border-radius: 50%;
    border: 6px solid rgba(243, 243, 243, 0.69);

}

.dark-section {
    width: 70%;
    margin: 12px 0;
}

.dark-section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dark-section-list li a, .dark-section-list li div {
    display: inline-flex;
    align-items: center;
    margin: 7px 0;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 20px;
}

.dark-section-list li div span, .dark-section-list li a span {
    transition: 0.5s;
}

.dark-section-list li:hover div span, .dark-section-list li:hover a span {
    padding-left: 7px;
}

.dark-section-list li img {
    width: 30px;
    margin-right: 12px;
}

.dark-section-list li:hover {
    cursor: default;
}

.dark-section-list li:hover img {
    transition: 0.5s;
    transform: rotateY(360deg);
}

.info-right {
    width: 63%;
}

.info-right-block {
    padding: 60px 30px 20px;
    text-align: justify;
    background: #f3f3f3;
}

.info-right-block-end {
    height: 40px;
    margin-bottom: 70px;
    background: linear-gradient(35deg, #2d2d2d 30%, #f3f3f3 10%, #f3f3f3 10%);
}

.title {
    font-family: Calibri, sans-serif;
    background: #2d2d2d;
    color: #f3f3f3;
    padding: 12px 30px;
}

.description {
    padding: 15px 20px;
    font-size: 21px;
}

.description-list {
    list-style: none;
    margin-left: 10px;
    padding: 0;
    border-left: 2px solid #0f1316;
}

.description-list li {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    margin: 0 0 12px;
    padding: 5px 0 0;
}

.marker {
    display: block;
    min-width: 12px;
    height: 12px;
    position: relative;
    left: -7px;
    background-color: #0f1316;
    border-radius: 50%;
}

.list-text {
    margin: 0 10px;
}

@media (max-width: 1069px) {
    div.info-left {
        padding: 20px 7px 0;
        max-width: 100%;
    }

    .info-right-block {
        padding: 20px 12px 0;
    }

    .dark-section {
        width: 90%;
    }

    .dark-section-list li a, .dark-section-list li div {
        font-size: 18px;
    }

    .dark-section-list li img {
        width: 33px;
    }
}

@media (max-width: 700px) {
    h1 {
        max-width: 400px;
        letter-spacing: 1px;
    }

    .container {
        flex-direction: column;
        margin: 0 15px;
        box-shadow: none;
    }

    .info-left-container {
        justify-content: center;
        width: 100%;
        min-height: 100vh;
    }

    .info-right {
        width: 100%;
    }

    ul.dark-section-list {
        position: relative;
        overflow: hidden;
        height: 0;
        transition: 0.3s;
    }

    input:checked + ul.dark-section-list {
        transition: 0.3s;
        overflow: auto;
        height: auto;
    }
}